@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap&subset=latin-ext');

body {
    font-family: 'Bungee Inline', cursive;
    font-size: 2em;
    background: #3185FC;
}

.wrapper {

    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
}

h1 {
    font-size: 5em;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #E84855;

}

h2 {
    color: white;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    text-align: center;
    cursor: pointer;
    transition: all .3ms ease;

}

.circle img:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.circle img {
    width: 120px;
    height: 120px;
    margin-top: 40px;
    margin-left: 25px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.man-wrapper {
    position: absolute;
    bottom: 80px;
    right: 80px;
    border-top: 5px solid white;
    border-right: 5px solid white;
    height: 300px;
    width: 200px;
    padding: 0;


}

@-webkit-keyframes swinging {
    0% {
        -webkit-transform: rotate(10deg);
    }

    50% {
        -webkit-transform: rotate(-5deg)
    }

    100% {
        -webkit-transform: rotate(10deg);
    }
}

@keyframes swinging {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(10deg);
    }
}

.cont {
    position: relative;
    margin: auto;
    width: 35vw;
    height: 35vw;
    margin-top: -120px;
    margin-left: -250px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;

}

.cont .tronco .cabeza,
.cont .tronco .cuerpo,
.cont .piernas {
    left: 50%;
    transform: translateX(-50%);
}

.cont .brazos {
    top: 50%;
    transform: translateY(-50%);
}

.cont .tronco {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}


.cont .tronco {
    position: absolute;
    height: 50%;
    width: 30%;
}

.cont .tronco .cabeza {
    position: absolute;
    top: 0;
    width: 70%;
    height: 40%;
    border-radius: 50%;
    background-color: #f0c;
}

.cont .tronco .cuerpo {
    position: absolute;
    width: 5%;
    height: 100%;
    background-color: #f0c;
}

.cont .brazos {
    position: absolute;
    width: 100%;
    height: 30%;
}

.cont .brazos .brazo {
    position: absolute;
    width: 1.5%;
    height: 100%;
    background-color: #f0c;
    top: 40%;
}

.cont .brazos .brazo:nth-child(1) {
    transform: rotate(20deg);
    left: 44%;
}

.cont .brazos .brazo:nth-child(2) {
    transform: rotate(-20deg);
    right: 44%;
}

.cont .piernas {
    position: absolute;
    width: 30%;
    height: 23%;
    bottom: 0;
}

.cont .piernas .pierna {
    position: absolute;
    width: 5%;
    height: 102%;
    background-color: #f0c;
}

.cont .piernas .pierna:nth-child(1) {
    transform: rotate(20deg);
    left: 35%;
    bottom: 10%;
}

.cont .piernas .pierna:nth-child(2) {
    transform: rotate(-20deg);
    right: 35%;
    bottom: 10%;
}